[submodule "third_party/modp_b64"]
	path = third_party/modp_b64
	url = https://chromium.googlesource.com/chromium/src/third_party/modp_b64
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu
[submodule "testing/gmock"]
	path = testing/gmock
	url = https://chromium.googlesource.com/external/googlemock
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
[submodule "testing/gtest"]
	path = testing/gtest
	url = https://github.com/google/googletest/
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp
[submodule "third_party/tcmalloc/chromium"]
	path = third_party/tcmalloc/chromium
	url = https://chromium.googlesource.com/chromium/src/third_party/tcmalloc/chromium
[submodule "base"]
	path = base
	url = https://chromium.googlesource.com/chromium/src/base
[submodule "build/toolchain"]
	path = build/toolchain
	url = https://chromium.googlesource.com/chromium/src/build/toolchain
[submodule "net"]
	path = net
	url = https://github.com/zcbenz/net.git
[submodule "crypto"]
	path = crypto
	url = https://chromium.googlesource.com/chromium/src/crypto
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://boringssl.googlesource.com/boringssl.git
[submodule "sdch/open-vcdiff"]
	path = sdch/open-vcdiff
	url = https://chromium.googlesource.com/external/github.com/google/open-vcdiff
[submodule "third_party/yasm/binaries"]
	path = third_party/yasm/binaries
	url = https://chromium.googlesource.com/chromium/deps/yasm/binaries/
[submodule "third_party/yasm/source/patched-yasm"]
	path = third_party/yasm/source/patched-yasm
	url = https://chromium.googlesource.com/chromium/deps/yasm/patched-yasm
[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://github.com/LuaJIT/LuaJIT
