.DS_Store
.tags*
/out/
/third_party/llvm-build/
/third_party/node-*/
/third_party/debian_stretch_amd64-sysroot/
/third_party/debian_stretch_i386-sysroot/
/third_party/debian_stretch_arm-sysroot/
/third_party/debian_stretch_arm64-sysroot/
/tools/gn/
*.xcodeproj
*.swp
*.pyc
debug.log
npm-debug.log
