doctype html
html
  head
    title #{doc.name} - Yue
    style
      include:css-minimize style.css
      include:css-minimize markdown.css
      include:css-minimize highlight.css
  body
    .markdown-body
      block content
