doctype html
html
  head
    title #{doc.name} - Yue
    style
      include:css-minimize style.css
      include:css-minimize markdown.css
      include:css-minimize highlight.css
  body
    #header
      p.logo Yue
      .nav
        a(href="index.html") Docs
        a(href="https://github.com/yue/yue") GitHub
    #container
      #content
        .markdown-body
          block content
      #sidebar
        .markdown-body
          block sidebar
    #footer
      p Content of this page is in public domain.
