body {
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.5;
  color: #24292e;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.markdown-body {
  padding: 45px;
}

.markdown-body h3 {
  color: #e86850;
}

.markdown-body h4 {
  color: #587498;
}

.markdown-body code a {
  color: #587058;
}

#header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #587498;
}

#header .logo {
  font-weight: 700;
  font-size: 30px;
  color: white;
  display: inline-block;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0;
}

#header .nav {
  position: absolute;
  right: 45px;
  top: 0;
}

#header .nav a {
  margin-left: 30px;
  color: white;
}

#footer {
  height: 30px;
  width: 100%;
  background-color: #587498;
}

#footer p {
  padding-left: 45px;
  line-height: 30px;
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
}

#content {
  flex-grow: 1;
}

#sidebar {
  padding-left: 0;
}

#sidebar ul {
  padding: 0;
  list-style-type: none;
}

#sidebar .current {
  font-weight: 500;
}

#sidebar .disabled {
  color: #d3d4d5;
}

#sidebar .lang-switcher {
  white-space: nowrap;
}

#index {
  display: flex;
  flex-direction: row;
}

#index .column {
  flex: 1;
  padding-right: 45px;
}

#index>.column:last-child {
  padding-right: 0;
}

#index ul {
  padding: 0;
  list-style-type: none;
}
